.footer
    .footer__container
        .footer__title(
        data-5800="opacity: 0.1; top: 5px;"
        data-5950="opacity: 1; top: 5px;"
        ) Спасибо.
        a.footer__link(
        href="mailto:frontend.dev.ru@gmail.com"
        data-5850="opacity: 0.1; top: 5px;"
        data-5950="opacity: 1; top: 5px;"
        ) frontend.dev.ru@gmail.com