nav.nav
    .nav__container.nav__container_top
        a.nav__item(href="https://career.habr.com/frontend-dev-ru" target="_blank")
            svg(width='28', height='11', xmlns='http://www.w3.org/2000/svg')
                path(
                    d='M7.746 8.721L5.084 4.693 7.723.643h-1.94L4.017 3.397 2.272.643H.264l2.64 4.016L.24 8.721h1.962L3.97 5.956 5.75 8.72h1.996zm3.39-6.07c-1.549 0-2.433.849-2.594 1.87h1.561c.092-.31.39-.573.964-.573.563 0 .976.286.976.837v.276h-1.297c-1.515 0-2.433.7-2.433 1.916 0 1.193.918 1.882 2.065 1.882.77 0 1.389-.298 1.756-.78v.642h1.55V4.843c0-1.446-1.022-2.192-2.548-2.192zm-.299 4.911c-.516 0-.849-.252-.849-.665 0-.425.367-.677.884-.677h1.17v.264c0 .688-.562 1.078-1.204 1.078zm7.49-4.67c-.827 0-1.504.298-1.94.906.115-1.113.562-1.664 1.687-1.836l2.26-.332V.172l-2.42.402c-2.342.39-3.065 1.95-3.065 4.556 0 2.34 1.136 3.729 3.144 3.729 1.802 0 2.915-1.377 2.915-3.03 0-1.778-1.033-2.937-2.582-2.937zm-.414 4.567c-.872 0-1.354-.7-1.354-1.641 0-.907.505-1.56 1.366-1.56.837 0 1.308.676 1.308 1.572 0 .895-.46 1.629-1.32 1.629zm7.464-4.808c-.872 0-1.434.379-1.733.826v-.688h-1.606v8.124h1.675V8.148c.299.413.86.711 1.618.711 1.457 0 2.616-1.148 2.616-3.098 0-1.986-1.158-3.11-2.57-3.11zm-.401 4.762c-.78 0-1.297-.631-1.297-1.63v-.045c0-.999.516-1.641 1.297-1.641.78 0 1.285.654 1.285 1.664 0 1.01-.505 1.652-1.285 1.652z'
                    fill='#F7F7F7'
                    fill-rule='nonzero'
                    data-780="fill: rgb(247,247,247);"
                    data-890="fill: rgb(0,0,0);"
                )
        a.nav__item(href="https://github.com/front-end-with-love" target="_blank")
            svg(width="21" height="21" xmlns="http://www.w3.org/2000/svg")
                path(
                    d="M10.5 0C4.701 0 0 4.701 0 10.5c0 4.92 3.388 9.037 7.955 10.176a1.532 1.532 0 0 1-.08-.51v-1.794h-1.32c-.718 0-1.357-.31-1.666-.883-.344-.638-.404-1.614-1.256-2.21-.253-.2-.06-.426.231-.395.538.152.984.521 1.404 1.069.419.549.615.673 1.397.673.379 0 .946-.022 1.48-.106.287-.729.783-1.4 1.389-1.717-3.497-.36-5.165-2.099-5.165-4.46 0-1.017.433-2 1.169-2.83-.242-.822-.545-2.5.093-3.138 1.573 0 2.524 1.02 2.752 1.296a7.869 7.869 0 0 1 2.55-.421c.907 0 1.771.152 2.557.423.226-.274 1.178-1.298 2.754-1.298.64.64.334 2.324.09 3.145.731.827 1.162 1.808 1.162 2.822 0 2.36-1.666 4.099-5.158 4.46.961.502 1.662 1.91 1.662 2.972v2.392c0 .091-.02.157-.03.235C18.06 18.967 21 15.08 21 10.5 21 4.701 16.299 0 10.5 0z"
                    fill="#F7F7F7"
                    fill-rule="nonzero"
                    data-780="fill: rgb(247,247,247);"
                    data-890="fill: rgb(0,0,0);"
                )
        a.nav__item(href="mailto:frontend.dev.ru@gmail.com")
            svg(width="19" height="16" xmlns="http://www.w3.org/2000/svg")
                path(
                    d="M1.9 0A1.9 1.9 0 0 0 .067 1.429L9.5 7.34l9.439-5.895A1.9 1.9 0 0 0 17.1 0H1.9zM0 3.548V13.3c0 1.048.852 1.9 1.9 1.9h15.2c1.048 0 1.9-.852 1.9-1.9V3.568L9.5 9.5 0 3.548z"
                    fill="#F7F7F7"
                    fill-rule="nonzero"
                    data-780="fill: rgb(247,247,247);"
                    data-890="fill: rgb(0,0,0);"
                )
    .nav__container.nav__container_middle(
        data-780="opacity: 1;"
        data-890="opacity: 0;"
    )
        .nav__subtitle Работы
        .nav__line
