nav.nav
    .nav__container.nav__container_top
        a.nav__item(href="https://moikrug.ru/frontend-dev-ru" target="_blank")
            svg(width="17" height="16" xmlns="http://www.w3.org/2000/svg")
                path(
                    d="M0 7.556v7.555H4.185l.046-4.37.07-4.348 1.511 2.604c1.465 2.557 1.534 2.627 2.325 2.627.79 0 .86-.07 2.325-2.627l1.51-2.604.07 4.348.047 4.37H16.274V0H11.74L9.997 2.906c-.954 1.604-1.79 2.906-1.86 2.906-.07 0-.907-1.302-1.86-2.906L4.533 0H0v7.556z"
                    fill="#F7F7F7"
                    fill-rule="nonzero"
                    data-780="fill: rgb(247,247,247);"
                    data-890="fill: rgb(0,0,0);"
                )
        a.nav__item(href="https://github.com/front-end-with-love" target="_blank")
            svg(width="21" height="21" xmlns="http://www.w3.org/2000/svg")
                path(
                    d="M10.5 0C4.701 0 0 4.701 0 10.5c0 4.92 3.388 9.037 7.955 10.176a1.532 1.532 0 0 1-.08-.51v-1.794h-1.32c-.718 0-1.357-.31-1.666-.883-.344-.638-.404-1.614-1.256-2.21-.253-.2-.06-.426.231-.395.538.152.984.521 1.404 1.069.419.549.615.673 1.397.673.379 0 .946-.022 1.48-.106.287-.729.783-1.4 1.389-1.717-3.497-.36-5.165-2.099-5.165-4.46 0-1.017.433-2 1.169-2.83-.242-.822-.545-2.5.093-3.138 1.573 0 2.524 1.02 2.752 1.296a7.869 7.869 0 0 1 2.55-.421c.907 0 1.771.152 2.557.423.226-.274 1.178-1.298 2.754-1.298.64.64.334 2.324.09 3.145.731.827 1.162 1.808 1.162 2.822 0 2.36-1.666 4.099-5.158 4.46.961.502 1.662 1.91 1.662 2.972v2.392c0 .091-.02.157-.03.235C18.06 18.967 21 15.08 21 10.5 21 4.701 16.299 0 10.5 0z"
                    fill="#F7F7F7"
                    fill-rule="nonzero"
                    data-780="fill: rgb(247,247,247);"
                    data-890="fill: rgb(0,0,0);"
                )
        a.nav__item(href="mailto:frontend.dev.ru@gmail.com")
            svg(width="19" height="16" xmlns="http://www.w3.org/2000/svg")
                path(
                    d="M1.9 0A1.9 1.9 0 0 0 .067 1.429L9.5 7.34l9.439-5.895A1.9 1.9 0 0 0 17.1 0H1.9zM0 3.548V13.3c0 1.048.852 1.9 1.9 1.9h15.2c1.048 0 1.9-.852 1.9-1.9V3.568L9.5 9.5 0 3.548z"
                    fill="#F7F7F7"
                    fill-rule="nonzero"
                    data-780="fill: rgb(247,247,247);"
                    data-890="fill: rgb(0,0,0);"
                )
    .nav__container.nav__container_middle(
        data-780="opacity: 1;"
        data-890="opacity: 0;"
    )
        .nav__subtitle Работы
        .nav__line